
<div class="modal fade" id="mdl_AccionMedicamentosFUAV" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdl_AccionMedicamentosFUAVlabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background:#264A74">
                <h5 class="modal-title text-white" id="mdl_AccionMedicamentosFUAVlabel">@ViewBag.Titulo_Modal</h5>

                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                     aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="modal-body">
                <input type="hidden" id="txtId">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-4">
                            <div class="form-label fw-bolder fs-4">
                                Código
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtCodMedicamento" disabled />
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Descripción</label>
                            <textarea type="text" class="form-control form-control-solid" rows="1" id="txtDesMedicamento" disabled></textarea>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Prescrita</label>
                            <input type="text" class="form-control " id="txtPrescrito" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Entregada</label>
                            <input type="text" class="form-control " id="txtEntregado" disabled />
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Precio (S/.)</label>
                            <input type="text" class="form-control form-control-solid " id="txtPrecio" disabled />
                        </div>
                    </div>
                </div>

                <hr style="border:3px solid" />

                <div class="row">

                    <div class="col-md-6">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Cant. Evaluación (S/.)</label>
                            <input type="text" class="form-control" id="txtCantEval" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Precio de Evaluación (S/.)</label>
                            <input type="text" class="form-control form-control-solid " id="txtPrecioEval" disabled />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Motivo Cambio Cantidad</label>
                            <textarea type="text" rows="3" class="form-control" id="txtMontCambCant"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            <label class="form-label fw-bolder fs-4">Motivo Cambio Precio</label>
                            <textarea type="text" rows="3" class="form-control" id="txtMontCambPrecio"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    @if (ViewBag.Tipo == "1")
                    {
                        <button type="button" onclick="RegistrarATenMedicamentoRec();" class="btn btn-success">
                            <i class="fas fa-save fs-4 me-2"></i>
                            Guardar
                        </button>
                    }
                    else if (ViewBag.Tipo == "2")
                    {
                        <button type="button" onclick="Modificar_TramoCV();" class="btn btn-warning">
                            <i class="fas fa-edit fs-4 me-2"></i>
                            Actualizar
                        </button>
                    }

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fas fa-times fs-4 me-2"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".date").daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        parentEl: "#mdl_AccionMedicamentosFUAV .modal-body",
        maxYear: parseInt(moment().format("YYYY"), 10) + 1,
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Aceptar",
            "cancelLabel": "Cancelar",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Do",
                "Lu",
                "Ma",
                "Mi",
                "Ju",
                "Vi",
                "Sa"
            ],
            "monthNames": [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Agosto",
                "Setiembre",
                "Octubre",
                "Noviembre",
                "Diciembre"
            ],
            "firstDay": 1
        },
    });
    $('#txtCodMedicamento').keypress(function (event) {
        var keycode = event.keyCode || event.which;
        if (keycode == '13') {
            GetMedicamentoxMED_CODMED();
        }
    });

    function Limpiar_Med(){
        $('#txtDesMedicamento').val('');
        $('#txtFormFarmace').val('');
        $('#txtConcentrMed').val('');
        $('#txtPetitorio').val('');
        $('#txtPrecio').val('');
    }

    async function GetMedicamentoxMED_CODMED(){
        try {
            const array_data = {};
            array_data.MED_CODMED = $('#txtCodMedicamento').val();
            if(array_data.MED_CODMED == ""){
                NotificacionToastr('error', `Ingrese el codigo de Medicamento.`, 'Campo requerido');
                $('#txtCodMedicamento').focus();
                return false;
            }
            CargarWaitMe();
            const { isSuccess, result } = await getData('@Url.Content("~/FUA/GetMedicamentoxMED_CODMED")', array_data);
            console.log(isSuccess, result);
            if(isSuccess){
                $('#txtDesMedicamento').val(result.meD_NOMBRE);
                $('#txtFormFarmace').val(result.meD_PRESEN);
                $('#txtConcentrMed').val(result.meD_CONCEN);
                $('#txtPetitorio').val(result.meD_PETIT);
                $('#txtPrecio').val(result.meD_COSTO);
                $('#txtNroDocPetitorio').val(result.meD_DOC);
                $('#txtFechPetitorio').val(result.meD_MESALTA.substring(0, 10));
                
            }
            else{
                NotificacionToastr('error', `Algo salio mal intente mas tarde.`, 'Error...');
                Limpiar_Med();
            }
            TerminarWaitMe();
        } catch (err) {
            console.log(err);
            TerminarWaitMe();
        }
    }

    async function getData(ajaxurl, data_array) {
        return $.get(ajaxurl, data_array );
    };

    async function RegistrarATenMedicamentoRecAjax(ajaxurl, data_array) {
        return $.post(ajaxurl, data_array);
    }

    async function RegistrarATenMedicamentoRec(){
        try{
            const array_data = {};
            array_data.N_AMED_NUMREGATE = $("#Ate_Idnumreg").val();
            array_data.V_AMED_CODMED = $("#txtCodMedicamento").val();
            array_data.N_AMED_INRODIA = $("#cbxDiagnostico").val();
            array_data.N_AMED_ICANTPRESCRITA = $("#txtPrescrito").val();
            array_data.N_AMED_ICANTENTREGADA = $("#txtEntregado").val();
            array_data.N_AMED_NPO = $("#txtPrecio").val();
            array_data.N_ROBS_IDNUMREGOBS = $("#cbxMedObsPar").val();            

            if (array_data.N_AMED_NUMREGATE == "" || array_data.V_AMED_CODMED == "" || array_data.N_AMED_INRODIA == "" || array_data.N_AMED_ICANTPRESCRITA == "" || array_data.N_AMED_ICANTENTREGADA == "" || array_data.N_AMED_NPO == ""){
                NotificacionToastr('error', `Ingrese los campos requeridos.`, 'Campos requeridos');
                $('#txtCodMedicamento').focus();
                return false;
            }

            const response = await RegistrarATenMedicamentoRecAjax('@Url.Content("~/FUA/InsertarAtenMedicamentoREc")', array_data);
            if(response.isSuccess){
                NotificacionToastr('success', `${response.message}`, 'Mensaje de confirmacion');
                $('#mdl_AccionMedicamentosFUAV').modal('hide');
                $('#modalMedicamentos').html('');
                setTimeout(function () {
                        Cargar_Medicamentos();
                }, 500);
            }
            else{
                NotificacionToastr('error', `Algo salio mal intente mas tarde.`, 'Error...');
            }

        } catch (err) {

        }
    }
</script>