
<div class="modal fade" id="mdl_AccionProcedimientosFUAV" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdl_AccionProcedimientosFUAVlabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background:#264A74">
                <h5 class="modal-title text-white" id="mdl_AccionProcedimientosFUAVlabel">@ViewBag.Titulo_Modal</h5>

                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                     aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="modal-body">
                <input type="hidden" id="txtIdApo" value="@ViewBag.IdApo">
                <input type="hidden" id="txtPreApoUni">

                <div class="accordion" id="acordionApoEval">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelApoEval">
                            <button class="accordion-button" style="background-color:#282e32 !important;color:lightgray !important" type="button" data-bs-toggle="collapse" data-bs-target="#panelApoEvalCollapse" aria-expanded="true" aria-controls="panelApoEvalCollapse">
                                1. Datos Generales del Procedimiento
                            </button>
                        </h2>
                        <div id="panelApoEvalCollapse" class="accordion-collapse collapse show" aria-labelledby="panelApoEval">
                            <div class="accordion-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <div class="form-label fw-bolder ">
                                                Código
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control  form-control-sm" id="txtCodProcedimiento" disabled />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Descripción</label>
                                            <textarea type="text" rows="1" class="form-control form-control-solid form-control-sm" id="txtDesProcedimiento" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Prescrita</label>
                                            <input type="number" min="0" max="999" maxlength="3" class="form-control form-control-sm" id="txtPrescritaProc" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Ejecutada</label>
                                            <input type="number" min="0" max="999" maxlength="3" class="form-control form-control-sm" id="txtEjecutadoProc" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Precio (S/.)</label>
                                            <input type="text" class="form-control form-control-solid form-control-sm" disabled id="txtPrecioProc" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelApoEval2">
                            <button class="accordion-button" style="background-color:#282e32 !important;color:lightgray !important" type="button" data-bs-toggle="collapse" data-bs-target="#panelApoEvalCollapse2" aria-expanded="false" aria-controls="panelApoEvalCollapse2">
                                2. Datos para la Evaluación:
                            </button>
                        </h2>
                        <div id="panelApoEvalCollapse2" class="accordion-collapse collapse show" aria-labelledby="panelApoEval2">
                            <div class="accordion-body">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Cant. Evaluación</label>
                                            <input type="number" onkeyup="Calcular_Precio_APO()" class="form-control form-control-sm" id="txtCantApoEval" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Precio de Evaluación (S/.)</label>
                                            <input type="text" class="form-control form-control-solid form-control-sm" id="txtPrecioApoEval" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-4">
                                            <label class="form-label fw-bolder ">Motivo Cambio Cantidad</label>
                                            <textarea type="text" rows="3" class="form-control form-control-sm" id="txtMontCambApoCant"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelApoEval3">
                            <button class="accordion-button" style="background-color:#282e32 !important;color:lightgray !important" type="button" data-bs-toggle="collapse" data-bs-target="#panelApoEvalCollapse3" aria-expanded="false" aria-controls="panelApoEvalCollapse3">
                                3. Detalle de la Reconsideración Parcial:
                            </button>
                        </h2>
                        <div id="panelApoEvalCollapse3" class="accordion-collapse collapse show" aria-labelledby="panelApoEval3">
                            <div class="accordion-body">

                                  <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-4">
                                            <label class="form-label text-wrap fw-bolder">Observado por:</label>
                                            <textarea type="text" rows="3" class="form-control form-control-sm" id="txtObsParcialApoEval" disabled></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    @if (ViewBag.Tipo == "2")
                    {
                        <button type="button" onclick="Conf_Actualizar_Apo(event)" class="btn btn-warning">
                            <i class="fas fa-edit me-2"></i>
                            Actualizar
                        </button>
                    }

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fas fa-times me-2"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#txtCodProcedimiento').keypress(function (event) {
        var keycode = event.keyCode || event.which;
        if (keycode == '13') {
            GetProcedimientoPorId();
        }
    });

    function Calcular_Precio_APO() {
        let costo = 0;
        let cantidad = 0;
        let calculo = 0;
        let entregado = 0;
        entregado = $("#txtEjecutadoProc").val();
        costo = $('#txtPreApoUni').val();
        cantidad = $('#txtCantApoEval').val();
        if (parseInt(cantidad, 10) <= parseInt(entregado, 10)) {
            calculo = costo * cantidad;
            $('#txtPrecioApoEval').val(calculo);
            $('#txtCantApoEval').focus();
        } else {
            $('#txtPrecioApoEval').val('');
            $('#txtCantApoEval').val('');
            NotificacionToastr('error', `La cantidad ingresada es superior a la entregada (${cantidad} > ${entregado} ).`, 'Verifique!!!');
            $('#txtCantApoEval').focus();
        }

    }

    function GetProcedimientoPorId() {
        let id = $('#txtCodProcedimiento').val();
        let idate = $("#Ate_Idnumreg").val();
        if (id == '') {
            NotificacionToastr('error', `Ingrese el codigo de Procedimiento.`, 'Campo requerido');
            $('#txtCodProcedimiento').focus();
            return false;
        }
        CargarWaitMe();
        $.get('@Url.Content("~/Evaluacion/ListarApoDIAGPorId")', { idate:idate, id: id })
            .done(function (response) {
                if (response.isSuccess == true) {
                    let { result } = response;
                    console.log(result);
                    $('#txtDesProcedimiento').val(result.apO_NOMBRE);
                }
                else {
                    NotificacionToastr('warning', `El procedimiento ingresado es incorrecto.`, 'Error...');
                           $('#txtDesProcedimiento').val('');

                }
                TerminarWaitMe();

            });
    }

    function RegistrarATeProcedimientosRec() {
        let array_plazo = [];
        array_plazo[0] = $('#txtIdApo').val();
        array_plazo[1] = $("#txtCantApoEval").val();
        array_plazo[2] = $("#txtMontCambApoCant").val();
        console.log(Math.floor(array_plazo[1]));
        if (Math.floor(array_plazo[1]) < 0) {
            NotificacionToastr('error', 'Ingrese la Cantidad a Evaluar', 'Campos requeridos');
            return false;
        }

        if (array_plazo[2] == "") {
            NotificacionToastr('error', 'Ingrese el motivo de cambio', 'Campos requeridos');
            return false;
        }

        var formData = new FormData();
        formData.append("N_AAPO_IDNUMREG", array_plazo[0]);
        formData.append("N_AAPO_ICANTAPROBADAODSIS", array_plazo[1]);
        formData.append("V_AAPO_V_MOTIVO_CAMBIO", array_plazo[2]);

        $.ajax({
            url: '@Url.Action("ActualizarApoEval", "Evaluacion")',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            async: true,
            type: 'POST',
            success: function (response) {
                if (response.isSuccess == true) {
                    NotificacionToastr('success', `${response.message}`, 'Mensaje de confirmación.');
                    $('#mdl_AccionProcedimientosFUAV').modal('hide');
                    $('#modalProcedimientos').html('');
                    Cargar_Procedimientos_Eval();
                    TerminarWaitMe();
                }
                else {
                    NotificacionToastr('error', `${response.message}`, 'Mensaje de confirmación.');
                    TerminarWaitMe();
                }
            },
            error: function (err) {
                console.log(err);
                TerminarWaitMe();
            }
        });

    }


    function Conf_Actualizar_Apo(e) {
        e.preventDefault();
        Swal.fire({
            title: `GUARDAR CAMBIOS?`,
            icon: "info",
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "SI, registrar Ahora!",
            cancelButtonText: 'NO, cancelar',
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: 'btn btn-danger'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                RegistrarATeProcedimientosRec();
            } else if (result.isDenied) {
                Swal.fire('', '', 'info')
            }
        });
    }
</script>