
<div class="row mb-0 mt-3">
    <!--begin::Label-->
    <label class="col-lg-4 col-form-label fw-bolder fs-4">
        Motivos de Solictud de Reconsideración:
    </label>
    <!--begin::Label-->
    <!--begin::Label-->
    <div class="col-lg-8 d-flex align-items-center">
        <div class="form-check form-check-custom form-check-solid me-10" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
            <input class="form-check-input" type="checkbox" value="1" id="checkA" />
            <label class="form-check-label" for="checkA">
                (a)
            </label>
        </div>
        <div class="form-check form-check-custom form-check-solid me-10">
            <input class="form-check-input" type="checkbox" value="2" id="checkB" />
            <label class="form-check-label" for="checkB">
                (b)
            </label>
        </div>
        <div class="form-check form-check-custom form-check-solid me-10">
            <input class="form-check-input" type="checkbox" value="3" id="checkC" />
            <label class="form-check-label" for="checkC">
                (c)
            </label>
        </div>
        <div class="form-check form-check-custom form-check-solid me-10">
            <input class="form-check-input" type="checkbox" value="4" id="checkD" />
            <label class="form-check-label" for="checkD">
                (d)
            </label>
        </div>
        <div class="form-check form-check-custom form-check-solid me-10">
            <input class="form-check-input" type="checkbox" value="5" id="checkE" />
            <label class="form-check-label" for="checkE">
                (e)
            </label>
        </div>
        <div class="form-check form-check-custom form-check-solid me-10">
            <input class="form-check-input" type="checkbox" value="6" id="checkF" />
            <label class="form-check-label" for="checkF">
                (f)
            </label>
        </div>
        <div class="form-check form-check-custom form-check-solid me-10">
            <input class="form-check-input" type="checkbox" value="7" id="checkRM" />
            <label class="form-check-label" for="checkRM">
                RM-725
            </label>
        </div>
    </div>
    <!--begin::Label-->
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="mb-4" data-select2-id="cbxTipoSustento">
            <label for="cbxTipoSustento" class="form-label text-wrap fw-bolder fs-4">Tipo Reconsideración</label>
            <select aria-label="Seleccionar" id="cbxTipoSustento" data-hide-search="true" data-control="select2" data-placeholder="Seleccionar..." class="form-select mb-4">
                <option selected="selected" value="L">Levantar Observación</option>
                <option value="E">Sustentar Eliminación de Item observado Parcial</option>
                <option value="J">Justificar Extemporaneidad</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-4">
            <label class="form-label fw-bolder fs-4">Descripción</label>
            <input type="text" class="form-control" id="txtDesSustento" value="" />
        </div>
    </div>
</div>

