@model IEnumerable<App.ViewModels.SELSiasis.SELSiasis.getAtencionDIAObs>

<table class="table align-middle border rounded table-row-dashed fs-6 g-5 display responsive" id="tblDiagnosticos" style="font-size: 10px !important">
    <thead class="text-center" style="background-color: #0272A3; border-width: 2px; color: white; vertical-align: middle; ">
        <tr>
            <th style="text-align:center"><span>N</span></th>
            <th style="text-align:center">CODIGO</th>
            <th style="text-align:center">DESCRIPCIÓN</th>
            <th style="text-align:center">INGRESO/EGRESO</th>
            <th style="text-align:center">TIPO DX</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Count() > 0)
            {
                var contador = 0;
                foreach (var item in Model)
                {
                <tr id="DiaObs_cant">
                    <td class="text-center">
                        @item.adia_iNroDia
                    </td>
                    <td class="text-center">@item.adia_coddia</td>
                    <td class="text-center">@item.c10_nombre</td>
                    <td class="text-center">
                        @if (item.adia_tipodia == 1)
                            {
                                <p>I-DX INGRESO</p>
                            }
                            else
                            {
                                <p>E-DX EGRESO</p>
                            }
                      

                    </td>
                    <td class="text-center">@item.tda_cdescripcion</td>

                </tr>
                    contador++;
                }
            }
            else
            {
                <tr>
                    <td colspan="8"><span class="text-danger">No hay registros para mostrar</span></td>
                </tr>
            }
        }
    </tbody>
</table>
<script>

</script>