@*@model IEnumerable<App.Models.CorredorVial>*@

<table class="table align-middle border rounded table-row-dashed fs-6 g-5 display responsive" id="tblInsumos" style="font-size: 10px !important">
    <thead class="text-center" style="background-color: #0272A3; border-width: 2px; color: white; vertical-align: middle; ">
        <tr>
            <th style="text-align:center"><span>N</span></th>
            <th style="text-align:center">CODIGO</th>
            <th style="text-align:center">DESCRIPCIÓN</th>
            <th style="text-align:center">PO(S/.)</th>
            <th style="text-align:center">PR</th>
            <th style="text-align:center">Carac</th>
            <th style="text-align:center">PRES</th>
            <th style="text-align:center">ENTR</th>
            <th style="text-align:center">CANT APROB UDR</th>
            <th style="text-align:center">DX</th>
            <th style="text-align:center">OBSERVACIÓN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center">
                1
            </td>
            <td style="text-align: center">05872</td>
            <td style="text-align: center">ALCOHOL ETILICO (ETANOL)</td>
            <td style="text-align: center">0.0000</td>
            <td style="text-align: center">L</td>
            <td style="text-align: center">70%</td>
            <td style="text-align: center">0</td>
            <td style="text-align: center">0</td>
            <td style="text-align: center">0</td>
            <td style="text-align: center">SEPSIS BACTERIANA DEL RECIEN NACIDO, NO ESPECIFICADA	</td>
            <td style="text-align: center"></td>
        </tr>
    </tbody>
</table>
<script>

</script>