.req-ok{
    text-align: center;
}
.icono_espera {
    font-size: 20px;
    color: #da4453;
}
.fa-check-circle {
    color: #009688;
}
.icono-d {
    font-size: 20px;
    color: #da4453;
}

.cabecera-lol {
    background-color: #F5F6F8 !important;
    border-color: rgba(238, 238, 238, 0.6) !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #6E7483 !important;
    padding: 5px 10px;
}

.stilo-pend {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
}

.label-success {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
}

.cabe-main {
    background-color: #F5F6F8 !important;
    border-color: rgba(238, 238, 238, 0.6) !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #6E7483 !important;
    padding: 10px 15px !important;
    border-bottom: 1px solid transparent !important;
    border-bottom-color: transparent !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    text-align: center !important;
}

.cabe-main-init {
    background-color: #da4453 !important;
    border-color: rgba(238, 238, 238, 0.6) !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #6E7483 !important;
    padding: 4PX 15px !important;
    border-bottom: 1px solid transparent !important;
    border-bottom-color: transparent !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    text-align: center !important;
}

.iconoQuitar {
    font-size: 19px;
    color: #da4453;
    cursor: pointer
}

.pagination {
    justify-content: right !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}

    div.dataTables_wrapper div.dataTables_filter label input {
        margin-left: 10px;
        width: 300px !important;
        font-weight: bold;
    }

.modal-header{
    height: 40px !important;
}