
<div class="row">
    <div class="accordion mt-10" id="acodMaternoInfantilFUA">
        <div class="accordion-item">
            <h2 class="accordion-header" id="PanelHeader1">
                <button class="accordion-button" style="background-color: #eff2f5; border:1px solid" type="button" data-bs-toggle="collapse" data-bs-target="#PanelBoby1" aria-expanded="true" aria-controls="PanelBoby1">
                    1. SERVICIOS PREVENTIVOS
                </button>
            </h2>
            <div id="PanelBoby1" class="accordion-collapse collapse show" aria-labelledby="PanelHeader1">
                <div class="accordion-body">

                    <div class="row">
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblCPN">CPN (N°):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblCPN"/>
                            </div>
                            <!--end::Input group-->
                        </div> 

						  <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblEdadGest">Edad Gest (SEM):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblEdadGest"/>
                            </div>
                            <!--end::Input group-->
                        </div> 
						<div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblAltUter">Altura uterina (CM):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblAltUter"/>
                            </div>
                            <!--end::Input group-->
                        </div> 
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblPA">P.A. (mmHg):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblPA" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxPsicoprofilaxis">Psicoprofilaxis:</label>
                                <select class="form-select" id="cbxPsicoprofilaxis">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxOxilocina">Adm. Oxilocina:</label>
                                <select class="form-select" id="cbxOxilocina">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblPeso">Peso (Kg) (RN, Niño, G):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblPeso" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblTalla">Talla (cm):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblTalla" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblEdadGest">Edad Gest RN (Sem):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblEdadGest" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblCred">CRED (N°):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblCred" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxEEDP">EEDP/TEPSI:</label>
                                <select class="form-select" id="cbxEEDP">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>

                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxVitK">Administr. Vitam K:</label>
                                <select class="form-select" id="cbxVitK">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxLactanciaMatr">Lactancia Mat Excl:</label>
                                <select class="form-select" id="cbxLactanciaMatr">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblApgar">APGAR:</span>
                                <span class="input-group-text">1°</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblApgar" />
                                 <span class="input-group-text">5°</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblApgar" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" id="lblContPuer">Control Puer (N°):</span>
                                <input type="text" class="form-control" aria-label="" aria-describedby="lblContPuer" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    
                    <div class="row">

                        <div class="col-md-3">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxNurti">Cons. Nutri</label>
                                <select class="form-select" id="cbxNurti">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-3">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxPPFF">Cons. PPFF</label>
                                <select class="form-select" id="cbxPPFF">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-3">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxProfOcu">Prof. Ocular</label>
                                <select class="form-select" id="cbxProfOcu">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-3">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxAdmSupl">Adm. Supl. Nutr.:</label>
                                <select class="form-select" id="cbxAdmSupl">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="PanelHeader2">
                <button class="accordion-button" style="background-color: #eff2f5; border:1px solid" type="button" data-bs-toggle="collapse" data-bs-target="#PanelBoby2" aria-expanded="false" aria-controls="PanelBoby2">
                    2. Vacunas N° Dosis:
                </button>
            </h2>
            <div id="PanelBoby2" class="accordion-collapse collapse show" aria-labelledby="PanelHeader2">
                <div class="accordion-body">

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtBCG">BCG:</span>
                                <input type="text" class="form-control" aria-label="" id="txtBCG" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtInfluencia">INFLUENCIA:</span>
                                <input type="text" class="form-control" aria-label="" id="txtInfluencia" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtAntiamarilica">ANTIAMARILICA:</span>
                                <input type="text" class="form-control" aria-label="" id="txtAntiamarilica" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtDPT">DPT:</span>
                                <input type="text" class="form-control" aria-label="" id="txtDPT" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtParotid">PAROTID:</span>
                                <input type="text" class="form-control" aria-label="" id="txtParotid" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtAntineumoc">ANTINEUMOC:</span>
                                <input type="text" class="form-control" aria-label="" id="txtAntineumoc" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtAPO">APO:</span>
                                <input type="text" class="form-control" aria-label="" id="txtAPO" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtRubeola">RUBEOLA:</span>
                                <input type="text" class="form-control" aria-label="" id="txtRubeola" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtAntitetanica">ANTITETANICA:</span>
                                <input type="text" class="form-control" aria-label="" id="txtAntitetanica" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtASA">ASA:</span>
                                <input type="text" class="form-control" aria-label="" id="txtASA" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtRotavirus">ROTAVIRUS:</span>
                                <input type="text" class="form-control" aria-label="" id="txtRotavirus" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtAntipolio">ANTIPOLIO INYEC. IPV:</span>
                                <input type="text" class="form-control" aria-label="" id="txtAntipolio" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtSPR">SPR:</span>
                                <input type="text" class="form-control" aria-label="" id="txtSPR" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtDTAdult">DT ADULTOS:</span>
                                <input type="text" class="form-control" aria-label="" id="txtDTAdult" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtVacuSR">VACUNA SR:</span>
                                <input type="text" class="form-control" aria-label="" id="txtVacuSR" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtHVB">HVB:</span>
                                <input type="text" class="form-control" aria-label="" id="txtHVB" />
                            </div>
                            <!--end::Input group-->
                        </div>

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtPentaval">PENTAVAL:</span>
                                <input type="text" class="form-control" aria-label="" id="txtPentaval" />
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <span class="input-group-text" for="txtVirusInflu">VIRUS INFLUENZA:</span>
                                <input type="text" class="form-control" aria-label="" id="txtVirusInflu" />
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <!--begin::Input group-->
                            <div class="input-group input-group-sm mb-4">
                                <label class="input-group-text" for="cbxGrupoRiesgo">Grupo de Riesgo:</label>
                                <select class="form-select" id="cbxGrupoRiesgo">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">NO</option>
                                    <option value="2">SI</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script>

    $('#tblSMIVacunas').DataTable({
        "ordering": false,
        responsive: true,
        "lengthChange": false,
        "searching": true,
        "language": languaje_spanol
    });
</script>